<footer>
    &copy; Copyright 2022 Syed Tasnim Ahmed <br>
    Background Image From <a href="https://pixabay.com/photos/gift-present-wood-package-gift-box-1420830/" target=”_blank”>Pixabay</a>
</footer>